<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register/load}" method="post" th:object="${person}">
       <label for="username">Username</label>
       <input type="text" id="username" th:field="${person.name}" name="name"/><br><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"/><br><br>
    <label for="email">Email    </label>
    <input type="text" id="email" name="email"/><br><br>
    <label for="phone">Phone    </label>
    <input type="text" id="phone" name="phone"/><br><br>
    <button type="submit">Register</button>
</form>
<br>

</body>
</html>