<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registry</title>
</head>
<body>
<form th:action="@{/index}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="name"/><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"/><br>
    <label for="email">Email</label>
    <input type="text" id="email" name="email"/><br>
    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone"/><br>
    <button type="submit">Log in</button>
</form>
<br>

</body>
</html>